<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/dist/launcher.js"></script>
</head>
<html>

<body>
  <script>
    (async () => {
      let module = await application.newModule('/index.js', {{scconfig}});
      document.body.append(module);
    })();
  </script>
</body>

</html>
